{% extends 'base.html.twig' %}

{% block title %}Adresse{% endblock %}

{% block body %}
    <h1>Ajouter une adresse</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit" class="btn">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
