{% extends 'layouts/register_and_login_base.html.twig' %}

{% block title %}Lien de modification mot de passe{% endblock %}

{% block body %}
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo">
                                <img src="{{ asset('images/logo.svg') }}" alt="logo">
                            </div>
                            <h4>Bonjour! Commençons</h4>
                            <h6 class="font-weight-light">Connectez-vous pour continuer.</h6>
                            {{ parent() }}
                            <form class="pt-3" method="post">
                                <div class="form-group">
                                    <input type="email" value="" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Email ou Téléphone">
                                </div>
                                
                                <input type="hidden" name="_csrf_token"
                                    value="{{ csrf_token('authenticate') }}"
                                >
                                <div class="mt-3">
                                    <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit"> Envoyer </button>
                                </div>
                                
                                <div class="text-center mt-4 font-weight-light">
                                    Vous n'avez pas de compte ? <a href="{{ path('app_admin_inscription') }}" class="text-primary">Créer</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
{% endblock %}

