<h1>Confirmation de votre compte utilisateur</h1>

<p>
    Bonjour {{ user.fullname }}<br>
    Veuillez <a href="{{ absolute_url(path('user_reset_forget_password', {'id': user.id, 'token': token})) }}">ici</a> pour modifier votre mot de passe<br>
    Ce lien est valable jusqu'au {{ tokenLifeTime }}<br>
    Merci.
</p>